<div class="core-body">
  <div class="detail-body">
    <h1 class="header-title">{{original_title}}</h1>
    <p class="header-text">"{{tagline}}"</p>

    <div class="detail-table">
      <img class="detail-poster" src='https://image.tmdb.org/t/p/original/{{poster_path}}' 
           alt='{{id}}: Image of "{{original_title}}" is not available!' />

      <h2 class="detail-header"> Director: </h2>
        <p class="detail">
      {{#director}}
          {{name}}.
      {{/director}}
        </p>

      <h2 class="detail-header"> Released On </h2>
      <p class="detail"> {{release_date}} </p>

      <h2 class="detail-header"> Recommendation </h2>
      <p class="detail"> {{vote_average}}/10 by {{vote_count}} voters. </p>


      <h2 class="detail-header"> Overview: </h2>
      <p class="detail">{{overview}}</p>
</div>
    </div>
  </div>
