		<div class="core-body">
			<div class="error-body">
				<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
					<h1 class="header-title">Error!</h1>
    				<p class="header-text">Oops, the movie you are looking for does not exist.<br>Please try again.</p>
				</div>


				<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
				<div class="error-footer">
						<a href="../movieSearch/" class="back"><span class="glyphicon glyphicon-download gly-rotate-90"></span> Go Back</a>
				</div>
			</div>

			</div>
		</div>