<div class="body">
  <div class = "container">
    <div class = "row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class = "header-title">MOVIE SEARCH</h1>
      <p class = "header-text">Movie Database<br>Try now!</p>
    </div>
  </div>
  </div>

<div class = "row">
<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
  <form id = "search" action ="." method="get">
    <div class= "input-group">
      <input type="search" class="form-control" placeholder="Movie Keywords" id = "movie_id">
        <span class="input-group-btn">
          <button class = "btn" type = "submit" id="search">Go!</button>
        </span>
    </div>
  </form>
</div>
</div>

  <div class ="footer">
    <div class="col-md-8 col-md-offset-2">
        <p>Developed by Chang-Seop Chris Lee</p>
          <a href="http://facebook.com/ckdtjq126" target="_blank"><img src = "assets/facebook.png" width="26px" height="26px"> Facebook</a><br>
          <a href="http://github.com/ckdtjq126" target="_blank"><img src = "assets/github.png" width="26px" height="26px"> Github</a>
    </div>  
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('form#search').submit(function(e){
    var movie_id = $('#movie_id').val();
    document.location = document.location.pathname + '?' + movie_id;
    e.preventDefault();
  });
});
</script>